<%- include("./partials/head") %>
<%- include("./partials/header") %>
	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Resultados de búsqueda</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<% if(encontroResultados){%>
				<h1>Estos son los resultados de tu busqueda "<%= busqueda %>"</h1>
				<ul>
					<%for(let i = 0; i < resultados.length ; i++){%>
						<li><%= resultados[i].nombre%></li>
					<%}%>
				</ul>
				<%} else {%>
					<h1>No se encontro lo que buscas</h1>
				<%}%>
			
		</div>
		<label for=""></label>

<%- include("./partials/footer") %>